{% include 'partials/modals/filesystem_core.html' %} {% include 'partials/modals/preview_merge.html'
%} {% include 'partials/modals/filesystem_conflict.html' %} {% include
'partials/modals/preview_capture.html' %} {% include 'partials/modals/filesystem_picker.html' %} {%
include 'partials/modals/project_file_picker.html' %} {% include 'partials/modals/settings.html' %}
{% include 'partials/modals/profile.html' %} {% include 'partials/modals/tags_delete.html' %} {%
include 'partials/modals/preview_annotate.html' %} {% include 'partials/modals/tags_file.html' %} {%
include 'partials/modals/preview_fullscreen.html' %} {% include 'partials/modals/notes.html' %}
